<!-- Footer -->
<footer class="page-footer font-small bg-light  pt-4">

  <!-- Footer Elements -->
  <div class="container">


    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Alternate Dashboard to InstaDApp Contract</h5>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/thrilok209/InstaDApp-Dashboard" target="_blank" class="btn btn-outline-white btn-rounded"><i class="fab fa-github"></i></a>
      </li>
    </ul>


  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://instadapp.io" class="text-muted">InstaDApp.io</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
