.container{
  margin-top: 2em;
  // margin-right: 1px;
}

.title{
  font-size: 1.5em;
}
.img-thumbnail{
  transform: scale(2.8);
}
.tokens-card{
  margin-top: 3em;
}
.tokenCol

.token-card{
  border: 1px solid #edf2f9;
  border-radius: .5rem;
}
.token-body-value{
  font-size: 1em;
  text-align: right;
}
h5{
  font-size: 0.9em;
}
.card {
  margin-top: 2.5em
}

.tokenTable{
  padding: 0 0.2em 0.5em 0.2em
}

.tokenImg{
  margin: 1em 0 1em 0.5em;
}
.supTokenName{
  font-size: 1em;
  line-height: 0.1em;
}
.table th {
  padding-top:1em;
}
h4 .tokenValue .tokenSupply .tokenBorrow {
  font-size: 2em;
  margin: 0
}
.assetValue{
  font-weight: bold;
  font-size: 1.5em;
}

.tokenBalAmount{
  font-size: 1.15em;
}
