.navBar{
  margin-top: 2em;
}

.protocalContainer{
  margin-bottom: 2em;
}
.title{
  font-size: 2em;
}
.supTitle{
  font-size: 0.7em;
  line-height: 1px;
  color: grey;
  padding-left: 4px;
}
.img-thumbnail{
  padding-right: 0
  // transform: scale(2.8);
}
.protcolRow{
  // margin-left: 4em;
}


.mat-spinner-color::ng-deep circle{
stroke: #FBC130 !important;
}

.hashLink{
  font-size: 2em;
}
