.container{
  margin-top: 2em;
  margin-right: 1px;
}


.title{
  font-size: 1.5em;
}

.img-thumbnail{
  transform: scale(2.8);
}

h5{
  font-size: 0.9em;
}

.assetsRow{
  // margin-top: 2em;
}

.stabilityPercentage{
  margin-top: 0.7em;
}

.assetValue{
  font-weight: bold;
  font-size: 1.5em;
}

.tokenCards{
  // margin-top: 1.5em;
}

.token-card{
  border: 1px solid #edf2f9;
  border-radius: .5rem;
}

.tokenCardTitle{
  font-size: 1.2em;
}
.tokenImg{
  margin-bottom: 1em;
}

.tokenValue{
  font-size: 2em
}

.tokenCardBtn{
  width: 7em;
  margin-bottom: 0.3em;
}
