<div class="container">
  <div class="row">
    <div class="col">
      <a class="navbar-brand" href="#">
      <img src="assets/img/instadapp/logoTextBeta.png" width="250" height="250" class="img-thumbnail border-0" alt="">
      </a>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="navbar-brand" href="compound">
        <img src="assets/img/logos/compound.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Compound
      </a>

    </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="navbar-brand" href="maker">
          <img src="assets/img/logos/maker.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Debt Position
        </a>

      </div>
    </div>
</div>
